body{
    background-color: darkslategrey;
    color: floralwhite;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}

header{
    text-align: center;
    font-size: 5vw;
    font-weight: bolder;
}

main{
    display: flex;
}

section{
    margin:5vh 5vw auto 10vw;
    display: flex;
    flex-direction: row;
}

#game{
    margin: auto;
    box-shadow: goldenrod 2px 2px 200px;
}

#Selector{
    margin: auto 5vw auto 15vw;
}

#player{
    box-shadow: lawngreen 5px -5px 50px;
}

p {
    text-align: center;
}

table#game button{
    border:4px;
    width:150px;
    height:150px;
    font-size: 6vw;
    text-align: center;
    font-display: bold;
    background-color: darkseagreen;
    box-shadow: rgb(1, 79, 82) 4px 3px 5px ;
}

aside{
    text-align: center;
}

aside button{
    width: 100px;
    height: 100px;
    background-color: forestgreen;
    box-shadow: darkolivegreen 4px 3px 5px ;
}
